@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-source-code-pro: 'Source Code Pro', monospace;
    --font-roboto: 'Roboto', sans-serif;

    --color-azul-oscuro: #042F4B;
    --color-azul-marino: #2A4365;
    --color-azul-vibrante: #0C77D5;
    --color-gris-disabledtext: #A9A9A9;
    --color-gris-disabledbg: #F5F5F5;
    --color-gris-verdaceo: #9FB982;
    --color-gris-azulado: #CBD5E1;
    --color-verde-azulado: #21756D;
    --color-coral: #E66A3D;
    --color-coral-oscuro: #CC5F35;
}
